root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true

[*.{js,jsx,mjs,ts,tsx}]
indent_size = 2

[*.py]
indent_size = 4

[Makefile]
indent_style = tab
indent_size = unset